.dva * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0px;
}

.dva > *:first-child {
  margin-top: 40px;
}

.dva a.btn {
  background-color: #2b8fc9;
  display: inline-block;
  color: #fff;
  border-radius: 8px;
  padding: 8px 10px;
  margin: 0 5px;
  line-height: 99%;
  text-decoration: none;
}

.dva a.btn.upper {
  text-transform: uppercase;
}

.dva a.btn:hover {
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  background-color: #333;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.dva .float-fix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.dva img.border {
  border: 4px solid #afbcbe;
}

.dva img.left {
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}

.dva img.right {
  float: right;
  margin-left: 30px;
}

.dva .img-zone {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 35%;
  max-width: 400px;
  min-width: 200px;
}

.dva .img-zone.left, .dva .img-zone.right {
  margin-bottom: 30px;
}

.dva .img-zone.left {
  float: left;
  margin-right: 30px;
}

.dva .img-zone.right {
  float: right;
  margin-left: 30px;
}

.dva .img-zone img {
  display: block;
  margin: 0px !important;
  width: 100%;
  height: auto;
}

.dva .img-zone .caption {
  display: block;
  margin-top: 10px;
  font-size: 80%;
  opacity: 0.8;
  line-height: 130%;
  width: 100%;
  padding: 8px;
  background-color: rgba(148, 148, 148, 0.1);
}

.dva .text-image {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dva .text-image h2:first-child,
.dva .text-image h3:first-child,
.dva .text-image h4:first-child,
.dva .text-image h5:first-child {
  margin-top: 0px;
  border-top: none;
}

.dva .text-image .img-zone {
  display: block;
  width: 28%;
}

.dva .text-image .text-zone {
  width: 70%;
}

.dva .text-image.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.dva .text-image.right .img-zone {
  margin-right: 0px;
  margin-left: 40px;
}

.dva h2 + .text-image {
  margin-top: 0px;
}

.dva .icon-h {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: none;
  font-weight: normal;
  line-height: 90%;
  border-radius: 5px;
}

.dva .icon-h:before {
  font-family: FontAwesome;
  content: "\f111";
  color: #ffffff;
  float: left;
  background-color: #830a0a;
  padding: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 10%;
}

.dva .charcoal:before {
  background-color: #333;
}

.dva .gold:before {
  background-color: #b49720;
}

.dva .silver:before {
  background-color: #55787c;
}

.dva .reading:before, .dva .book:before {
  content: "\f02d";
}

.dva .assignment:before, .dva .bookmark:before {
  content: "\f02e";
}

.dva .task:before, .dva .pen-nib:before {
  content: url(http://dva.musites.org/icons/pen-nib.svg);
}

.dva .requirement:before, .dva .check:before {
  content: "\f00c";
}

.dva .submit:before, .dva .get:before {
  content: url(http://dva.musites.org/icons/get-app.svg);
}

.dva .objective:before, .dva .bullseye:before {
  content: "\f140";
}

.dva .respond:before, .dva .chat:before {
  content: "\f27a";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.dva .post:before, .dva .pencil:before {
  content: url(http://dva.musites.org/icons/pencil-alt.svg);
}

.dva .quiz:before, .dva .rocket:before {
  content: "\f135";
}

.dva .lesson:before, .dva .notes:before {
  content: url(http://dva.musites.org/icons/speaker-notes.svg);
}

.dva .project:before, .dva .brush:before {
  content: "\f1fc";
}

.dva .reply:before, .dva .chat-left:before {
  content: "\f27a";
}

.dva p.call-out, .dva .call-out {
  border-left: 10px solid #333;
  padding-left: 40px;
  font-family: 'Lato','Open-Sans' sans-serif;
  margin-top: 0px !important;
  font-size: 1.25em !important;
  line-height: 200%;
  color: #333;
}

.dva p.call-out.box, .dva .call-out.box {
  background-color: rgba(245, 245, 245, 0.95);
  padding: 40px;
  margin: 0px 0px 20px 0px;
}

.dva p.call-out.no-line, .dva .call-out.no-line {
  border-left: none;
}

.dva p.call-out p:last-child, .dva .call-out p:last-child {
  margin-bottom: 0 !important;
}

.dva p.intro, .dva .intro {
  font-size: 145%;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.dva p {
  font-size: 110%;
}

.dva p,
.dva li {
  line-height: 200%;
}

.dva h1,
.dva h2,
.dva h3,
.dva h4,
.dva h5,
.dva h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: normal;
}

.dva h2 {
  border-top: solid rgba(245, 245, 245, 0.95) 2px;
  font-size: 1.8em;
  color: #000;
  text-transform: none;
  padding: 15px 0px;
  line-height: 100%;
  margin-top: 70px;
}

.dva h3 {
  position: relative;
  color: #333;
  font-size: 1.5em;
}

.dva h4 {
  font-size: 1em !important;
  color: #55787c;
  margin-bottom: 20px !important;
}

.dva h5 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #55787c;
}

.dva h6 {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #55787c;
}

.dva h2 + h2 {
  border-top: none transparent 0px;
  margin-top: 24px;
}

.dva h2 + h3, .dva h3 + h4, .dva h4 + h5, .dva h5 + h6 {
  margin-top: 0 !important;
}

.dva .hl {
  border-bottom: 2px #e2d301 solid;
  background-color: rgba(251, 255, 0, 0.8);
  padding: 2px 6px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
}

.dva .hl.blue {
  border-color: #0eb9b9;
  background-color: rgba(0, 255, 255, 0.4);
}

.dva .hl.purple {
  border-color: #cf25f1;
  background-color: rgba(207, 37, 241, 0.4);
}

.dva .hl.orange {
  border-color: #d89400;
  background-color: rgba(255, 174, 0, 0.85);
}

.dva .video {
  position: relative;
  padding-top: 56.25%;
  margin-top: 100px;
  margin-bottom: 20px;
  border: 4px solid #000000;
}

.dva .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dva ul,
.dva ol,
.dva p {
  margin-bottom: 26px;
}

.dva .line-top {
  border-top: dotted 1px #000;
}

.dva table,
.dva td {
  border-collapse: collapse;
  border: 1px #ddd solid;
  margin-bottom: 20px;
}

.dva table {
  width: 90%;
  font-size: 85%;
}

.dva table td {
  padding: 10px;
}

.dva table td p {
  margin: 0px;
  margin-bottom: 10px;
  line-height: 150%;
}

.dva table td p:last-child {
  margin-bottom: 0px;
}

.dva table.tbg {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 4px solid #c7c7c7;
}

.dva table.tbg tr {
  border-bottom: 1px solid rgba(54, 54, 54, 0.308);
}

.dva table.tbg tr:last-of-type {
  border: 0;
}

.dva table.tbg th {
  text-transform: uppercase;
  text-align: left;
  color: rgba(8, 8, 8, 0.65);
}

.dva table.tbg td, .dva table.tbg th {
  width: 33.333%;
  padding: 12px;
  border-right: 1px solid rgba(54, 54, 54, 0.308);
}

.dva table.tbg td:nth-child(1), .dva table.tbg th:nth-child(1) {
  background-color: #e6e6e6;
}

.dva table.tbg td:nth-child(2), .dva table.tbg th:nth-child(2) {
  background-color: rgba(255, 151, 151, 0.849);
}

.dva table.tbg td:nth-child(3), .dva table.tbg th:nth-child(3) {
  background-color: rgba(188, 240, 192, 0.822);
  border-right: 0px none transparent;
}

.dva body {
  counter-increment: section-counter;
}

.dva ul,
.dva ol,
.dva table {
  margin-top: 10px !important;
}

.dva ol.round {
  counter-reset: my-counter;
  list-style-type: none;
  padding-left: 1em;
}

.dva ol.round li {
  padding-left: 1.75em;
  counter-increment: my-counter;
  position: relative;
  line-height: 185%;
}

.dva ol.round li:before {
  font-weight: bold;
  border: 2px solid #ccc;
  content: counter(my-counter);
  background-color: #eee;
  border-radius: 50%;
  padding: 4px 5px 5px 4px;
  color: #333;
  width: 1.25em;
  height: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  left: -.75em;
  top: .125em;
  line-height: 99%;
}

.dva li {
  margin-bottom: 12px;
}

.dva ul li::before {
  content: "\2B1D";
  color: #bbb;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.dva ul {
  list-style-type: none;
  font-size: 105%;
}

.dva ul.qa, .dva ul.ps {
  margin-left: 100px;
}

.dva ul.qa li::before, .dva ul.ps li::before {
  position: absolute;
  width: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  float: left;
  color: #fff;
  padding: 0 10px;
}

.dva ul.qa li:nth-child(odd)::before, .dva ul.ps li:nth-child(odd)::before {
  background-color: #37436b;
}

.dva ul.qa li:nth-child(even), .dva ul.ps li:nth-child(even) {
  margin-bottom: 3em;
}

.dva ul.qa li:nth-child(even)::before, .dva ul.ps li:nth-child(even)::before {
  background-color: #eba63f;
}

.dva ul.qa li:nth-child(odd)::before {
  content: "Question";
}

.dva ul.qa li:nth-child(even)::before {
  content: "Answer";
}

.dva ul.ps li:nth-child(odd)::before {
  content: "Problem";
}

.dva ul.ps li:nth-child(even)::before {
  content: "Solution";
}

.dva ul.pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 99%;
}

.dva ul.pills li {
  background-color: #ddd;
  border-radius: 8px;
  margin: 5px;
  padding: 8px;
  color: #000;
  line-height: 102%;
}

.dva ul.pills li::before {
  content: none;
}

.dva ul.pills.upper li {
  text-transform: uppercase;
}

.dva ul.pills.red li {
  background-color: #830a0a;
  color: #fff;
}

.dva ul.pills.gold li {
  background-color: #b49720;
  color: #fff;
}

.dva ul.pills.silver li {
  background-color: #55787c;
  color: #fff;
}

.dva ul.pills.charcoal li {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 750px) {
  .dva .left {
    margin-right: 30px;
    margin-bottom: 30px;
    float: none;
  }
  .dva .right {
    float: none;
    margin-left: 30px;
  }
  .dva img {
    width: 100%;
    height: auto;
    float: none !important;
  }
  .dva .text-image {
    margin-top: 48px;
    display: block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .dva .text-image .img-zone {
    margin-right: 0px;
    width: 100%;
    display: block;
    max-width: auto;
    min-width: auto;
  }
  .dva .text-image .img-zone img {
    width: 100%;
    height: auto;
  }
  .dva .text-image .text-zone {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .dva .text-image.right .img-zone {
    float: none;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.assignments .dva {
  padding: 10px;
}

.assignments .dva > *:first-child {
  margin-top: 0px !important;
  border-top: none !important;
}
/*# sourceMappingURL=dva.css.map */