.dva > * {
  box-sizing: border-box; }

.dva > *:first-child {
  margin-top: 0px;
  border-top: none; }

.dva .icon-h {
  background-color: #eee;
  position: relative;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  border-top: none;
  font-weight: normal;
  line-height: 90%;
  border-radius: 5px; }

.dva .icon-h:before {
  content: "x";
  float: left;
  background-color: #830a0a;
  padding: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff; }

.dva .charcoal:before {
  background-color: #333; }

.dva .gold:before {
  background-color: #c0a436; }

.dva .silver:before {
  background-color: #7590a2; }

.dva .reading:before, .dva .book:before {
  content: url(http://dva.musites.org/icons/book.svg); }

.dva .assignment:before, .dva .bookmark:before {
  content: url(http://dva.musites.org/icons/bookmark.svg); }

.dva .task:before, .dva .pen-nib:before {
  content: url(http://dva.musites.org/icons/pen-nib.svg); }

.dva .requirement:before, .dva .check:before {
  content: url(http://dva.musites.org/icons/check.svg); }

.dva .submit:before, .dva .get:before {
  content: url(http://dva.musites.org/icons/get-app.svg); }

.dva .objective:before, .dva .bullseye:before {
  content: url(http://dva.musites.org/icons/bullseye.svg); }

.dva .respond:before, .dva .chat:before {
  content: url(http://dva.musites.org/icons/chat.svg);
  transform: scale(-1, 1); }

.dva .post:before, .dva .pencil:before {
  content: url(http://dva.musites.org/icons/pencil-alt.svg); }

.dva .quiz:before, .dva .rocket:before {
  content: url(http://dva.musites.org/icons/rocket.svg); }

.dva .lesson:before, .dva .notes:before {
  content: url(http://dva.musites.org/icons/speaker-notes.svg); }

.dva .project:before, .dva .brush:before {
  content: url(http://dva.musites.org/icons/paint-brush.svg); }

.dva .reply:before, .dva .chat-left:before {
  content: url(http://dva.musites.org/icons/chat.svg); }

.dva p,
.dva h1,
.dva h3,
.dva h4,
.dva h5,
.dva h6 {
  margin-top: 0px; }

.dva ul,
.dva ol,
.dva table {
  margin-top: 0px; }

.dva ul, .dva ol {
  color: #495369; }

.dva ul {
  list-style-type: none; }

.dva li {
  margin-bottom: 12px; }

.dva ul li::before {
  content: "\2B1D";
  color: #bbb;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  transform: translateY(-2px); }

.dva table,
.dva td {
  border-collapse: collapse;
  border: 1px #ddd solid;
  margin-bottom: 20px; }

.dva table {
  width: 90%;
  font-size: 85%; }
  .dva table td {
    padding: 10px; }
  .dva table td p {
    margin: 0px;
    margin-bottom: 10px;
    line-height: 150%; }
  .dva table td p:last-child {
    margin-bottom: 0px; }

.dva p {
  font-size: 105%; }

.dva p,
.dva li {
  line-height: 180%; }

.dva h1,
.dva h2,
.dva h3,
.dva h4,
.dva h5,
.dva h6 {
  margin-top: 48px;
  font-weight: normal;
  margin-bottom: 20px; }

.dva h2 {
  border-top: solid #ccc 2px;
  padding: 15px 0px;
  line-height: 100%;
  margin-top: 80px; }

.dva h3 {
  text-transform: uppercase; }

.dva ul,
.dva ol,
.dva p {
  margin-bottom: 26px; }

.dva .line-top {
  border-top: dotted 1px #000; }

.dva .video {
  position: relative;
  padding-top: 56.25%;
  margin-top: 100px;
  margin-bottom: 20px;
  border: 4px solid #000000; }
  .dva .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.dva table.tbg {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 4px solid #c7c7c7; }
  .dva table.tbg tr {
    border-bottom: 1px solid rgba(54, 54, 54, 0.308); }
  .dva table.tbg tr:last-of-type {
    border: 0; }
  .dva table.tbg th {
    text-transform: uppercase;
    text-align: left;
    color: rgba(8, 8, 8, 0.65); }
  .dva table.tbg td, .dva table.tbg th {
    width: 33.333%;
    padding: 12px;
    border-right: 1px solid rgba(54, 54, 54, 0.308); }
  .dva table.tbg td:nth-child(1), .dva table.tbg th:nth-child(1) {
    background-color: #e6e6e6; }
  .dva table.tbg td:nth-child(2), .dva table.tbg th:nth-child(2) {
    background-color: rgba(255, 151, 151, 0.849); }
  .dva table.tbg td:nth-child(3), .dva table.tbg th:nth-child(3) {
    background-color: rgba(188, 240, 192, 0.822);
    border-right: 0px none transparent; }
